/* Importing Font Style from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Rubik:wght@400;500;600;700&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    min-height: 100vh;
}

/* Custom Scroll Bar */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background-color: #F9F6F0;
}
::-webkit-scrollbar-thumb {
    background-color: #FF9D2E;
    border-radius: 4rem;
}

/* Header CSS */
.header-img {
    height: 100vh;
    background-image: url(/assets/images/main_bg.jpg);
    background-size: cover;
    position: relative;
}
.header-main {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 10000;
}
.nav-main {
    backdrop-filter: blur(2px);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    color: white;
    border: transparent;
    border-block-end: 1px solid hsla(23, 61%, 86%, 0.2);
    transition: 0.6s;
}
.main-title a{
    position: relative;
    text-decoration: none;
    font-size: 25px;
    color: #FF9D2E;
    cursor: pointer;
}
.nav-ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    list-style-type: none;
}
.nav-ul li a {
    font-family: Roboto, sans-serif;
    text-transform: capitalize;
    font-weight: 575;
    font-size: 20px;
    text-decoration: none;
    color: white;
}
.nav-ul li a:hover {
    color: #FF9D2E;
    cursor: pointer;
}
.active {
    background-color: white;
    box-shadow: 2px 0px 2px rgb(96, 94, 94);
}
.active ul li a {
    color: black;
}
.header-context {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 8px;
    font-size: 25px;
    font-family: cursive;
    /* font-weight: bold; */
    text-transform: capitalize;
    line-height: 1.6rem;
}

/* Promo CSS */
.promo-container {
    display: grid;
    gap: 25px;
    grid-auto-flow: column;
    grid-auto-columns: 21%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    text-align: center;
    margin: 64px 128px;
    max-height: calc(500px + 80px);
}
.promo-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.promo-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 10px;
    text-align: center;
}
.promo-card {
    width: 275px;
    height: 500px;
    padding-top: 8px;
    color: black;
    position: relative;
    background: none;
    transition: color 0.4s;
}
/* Responsive CSS */
@media screen and (max-width: 768px) {
    .promo-container {
        grid-auto-columns: 30%;
        margin: 32px;
    }
    .promo-card {
        width: 100%;
        height: auto;
        padding-top: 25%;
    }
}

@media screen and (max-width: 480px) {
    .promo-container {
        grid-auto-columns: 45%;
        margin: 16px;
    }
}
.promo-card:hover > * , .promo-card:hover .promo-svg path {
    color: white;
    fill: white;
}
.promo-card::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25%;
    background: #FF9D2E;
    z-index: -1;
    transition: 0.4s;
    border-radius: 0 0;
}
.promo-card:hover::before {
    height: 100%;
}
.promo-svg {
    margin-top: 8px;
}
.h3-card-title{
    font-size: 25px;
}
.card-text {
    padding: 8px;
    color: #666;
}
.promo-img {
    margin-top: 10px;
}

/* About CSS */
.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 32px;
    margin: 32px 32px;
    gap: 40px;
    height: 500px;
    /* max-height: calc(500px + 80px); */
}
.about-banner {
    position: relative;
    margin-left: 120px;
}
.about-img1 {
    width: 100%;
    height: auto;
    max-width: max-content;
}
.about-img2 {
    position: absolute;
    left: 40px;
    top: -10px;
    animation: scaleUp 1s linear infinite alternate;
}
@keyframes scaleUp {
    0% { transform: scale(1);}
    100% { transform: scale(1.05); }
}
.about-content {
    width: 450px;
    height: 450px;
    margin-right: 120px;
}
.h2-about-title {
    font-size: 40px;
    margin: 0;
}
.span {
    color: #FF9D2E;
}
.section-text {
    line-height: 1.6rem;
    padding: 8px;
    font-size: 16px;
    color: #666;
    padding-right: 20px;
}
.about-ul {
    list-style-type: none;
    padding-left: 8px;
}
.about-text{
    margin-left: 4px;
    line-height: 2.2rem;
    font-size: 16px;
    color: black;
    font-weight: 500;
}
.btn-order-now {
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    margin: 10px;
    color: #F9F6F0;
    transition: color 0.8s;
    position: relative;
    overflow: hidden;
    border: 2px solid #FF9D2E;
}
.btn-order-now:hover {
    color: #FF9D2E;
}
.btn-order-now::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 200%;
    background: #FF9D2E;
    z-index: -1;
    transition: 0.8s;
    border-radius: 0 0 50% 50%;
}
.btn-order-now:hover::before {
    height: 0%;
}

@media screen and (max-width: 876px) {
    .about-container {
        display: block;
        height: 875px;
        margin: 8px 8px;
        padding: 8px 16px;
    }
    .section-text {
        line-height: 1.4rem;
    }
    .about-text {
        line-height: 1.8rem;
    }
}

/* Menu Items */
.menu-header {
    padding-top: 50px;
    width: 100%;
    height: 150px;
}
.subhead{
    text-align: center;
    color: red;
    font-size: 20px;
    margin: 4px;
    padding: 0;
}
.Heading{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding: 0;
}
.Discription{
    text-align: center;
    color: rgb(78, 78, 78);
}
.threeitems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 150px;
}
.btn{   
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 40px;
    font-size: 19px;
    color:#000000;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 4px grey;
    border: 0;
}
.dishpic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 200px;
}
.price-tag {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.Items{
    width: 250px;
    height: 350px;
}
.btn:hover{
    background-color:rgb(255, 196, 0); 
    box-shadow: 1px 1px 4px black;
}
.Dish{
    text-align: center;
    font-weight: bolder;
}
@media screen and (max-width: 768px) { 
    .threeitems {
        display: block;
    }
}

/* Review paga code */
.testimonials{
    margin: 0;
    padding: 60px 0;
    background: white;
    /* background: rgb(88, 64, 64); */
    color: red;
    text-align: center;
}
.inner{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}
/* use for underline after testimonials */
.inner-border{
    width: 300px;
    height: 5px;
    background: black;
    margin: 25px auto;
}
.row{
    /* border: 3px solid aqua; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.col{
    /* border: 3px solid aqua; */
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}
.testimonial{
    /* border: 3px solid aqua; */
    color: black;
    /* background: gray; */
    background: aquamarine;
    padding: 30px;
    border-radius: 15px;
    transition: transform 0.5s;
    box-shadow: 1px 1px 2px black;
}
.testimonial img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.testimonial:hover {
    background-color: aqua;
    cursor: pointer;
    transform: translateY(-10px);
    box-shadow: 2px 2px 4px black;
}
.star{
    color: orange;
}
.name{
    color: rgb(95, 95, 238);
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    margin: 20px 0;
}
@media screen and (max-width:960px) {
    .col{
        flex: 100%;
        max-width: 100%;
    }  
}
