/* Importing Font Style from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Rubik:wght@400;500;600;700&family=Shadows+Into+Light&display=swap');

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
}

/* Custom Scroll Bar */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background-color: #F9F6F0;
}
::-webkit-scrollbar-thumb {
    background-color: #FF9D2E;
    border-radius: 4rem;
}

/* Header CSS */
.main{
    width: 100%;
    background-image: url(/assets/images/main_bg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.navbar{
    /* border: 2px solid red; */
    width: 100%; /* 1200px*/
    height: 80px;
    margin: auto;
    position: fixed;
    top: 0;
    background: transparent;
}
.title-bar {
    /* border: 2px solid red; */
    margin: 5px 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.title-bar a {
    /* border: 2px solid red; */
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.title-bar a:hover {
    color: coral;
}
    /* 
header.navbar ul li a.banner {
    color: black;
    background-color: white;
    width: 100%;
} */
.icon{
    padding-top: 16px;
    width: 225px;
    height: 125px;
}
.icon img{
    width: 260px;
    height: 150px;
    /* color: #000; */

}
.logo{
    width: 300px;
    color : yellow;
    font-size: 45px;
    font-family: Arial;
    padding-left: 10px;
    float: left;
    padding-top: 10px;
    margin-left: 100px;
}
.title-bar{
    width: 600px;  
    float: right; 
    height: 70px;
    margin-right: 100px;
    /* background-color: cornsilk; */
}

ul{
    float: right; 
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    float: left;
    list-style-type: none;
    margin-left: 60px;
    margin-top: 30px;
    font-size: 15px;
    color: blue;
}
ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial;
    color: coral;
    font-size: 15px;
 
}
ul li a:hover{
    color: coral;
}

.para{
    /* color: rgb(22, 226, 56); */
    /* border: 2px solid red; */
    text-align: center;
    justify-content: center;
    padding-top: 30vh;
}
.para h3,pre{
    color: rgb(22, 226, 56);
    line-height: 16px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.para h1{
    color: red;
    line-height: 10px;
    text-transform: uppercase;
    font-size: 50px;
    font-family: Roboto, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Promo CSS */
.promo-container {
    display: grid;
    gap: 25px;
    grid-auto-flow: column;
    grid-auto-columns: 21%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    text-align: center;
    margin: 64px 128px;
    max-height: calc(500px + 80px);
}
.promo-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.promo-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 10px;
    text-align: center;
}
.promo-card {
    width: 275px;
    height: 500px;
    padding-top: 8px;
    color: black;
    position: relative;
    background: none;
    transition: color 0.4s;
}
/* Responsive CSS */
@media screen and (max-width: 768px) {
    .promo-container {
        grid-auto-columns: 30%;
        margin: 32px;
    }
    .promo-card {
        width: 100%;
        height: auto;
        padding-top: 25%;
    }
}

@media screen and (max-width: 480px) {
    .promo-container {
        grid-auto-columns: 45%;
        margin: 16px;
    }
}
.promo-card:hover > * , .promo-card:hover .promo-svg path {
    color: white;
    fill: white;
}
.promo-card::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25%;
    background: #FF9D2E;
    z-index: -1;
    transition: 0.4s;
    border-radius: 0 0;
}
.promo-card:hover::before {
    height: 100%;
}
.promo-svg {
    margin-top: 8px;
}
.h3-card-title{
    font-size: 25px;
}
.card-text {
    padding: 8px;
    color: #666;
}
.promo-img {
    margin-top: 10px;
}

/* About CSS */
.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 32px;
    margin: 32px 32px;
    gap: 40px;
    max-height: 75vh;
}
.about-banner {
    position: relative;
    margin-left: 120px;
}
.about-img1 {
    width: 100%;
    height: auto;
    max-width: max-content;
}
.about-img2 {
    position: absolute;
    left: 40px;
    top: -10px;
    animation: scaleUp 1s linear infinite alternate;
}
@keyframes scaleUp {
    0% { transform: scale(1);}
    100% { transform: scale(1.05); }
}
.about-content {
    width: 450px;
    height: 450px;
    margin-right: 120px;
}
.h2-about-title {
    font-size: 40px;
    margin: 0;
}
.span {
    color: #FF9D2E;
}
.section-text {
    line-height: 1.6rem;
    padding: 8px;
    font-size: 16px;
    color: #666;
    padding-right: 20px;
}
.about-ul {
    list-style-type: none;
    padding-left: 8px;
}
.about-text{
    margin-left: 4px;
    line-height: 2.2rem;
    font-size: 16px;
    color: black;
    font-weight: 500;
}
.btn-order-now {
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    margin: 10px;
    color: #F9F6F0;
    transition: color 0.8s;
    position: relative;
    overflow: hidden;
    border: 2px solid #FF9D2E;
}
.btn-order-now:hover {
    color: #FF9D2E;
}
.btn-order-now::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 200%;
    background: #FF9D2E;
    z-index: -1;
    transition: 0.8s;
    border-radius: 0 0 50% 50%;
}
.btn-order-now:hover::before {
    height: 0%;
}

@media screen and (max-width: 876px) {
    .about-container {
        display: block;
    }
}

/* Menu Items */
.subhead{
    text-align: center;
    color: red;
    position: relative;
}
.Heading{
    text-align: center;
}
.Discription{
    text-align: center;
    color: rgb(78, 78, 78);
}

.mainopt{
    margin: 0;
  /* position: absolute; */
  top: 26%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: 29%; 
}

.opt{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    width: 100px;
    box-shadow: 5px 5px 15px grey;
    border-radius: 10px;
    color:#000000;
    position: static;
    margin: 20px;
    text-align:center;
    border: 0;
}

.opt:hover{
    background-color: rgb(255, 196, 0);
    cursor: pointer;
    padding: 13px;
}

.threeitems{
    display: flex;
    margin-top: -2%;
}

.btn{   
    margin-top: 10px;
    /* display: inline-block; */
    font-size: 19px;
    color:#000000;
    border-radius: 10px;
    cursor: pointer;
    padding:10px 15px;
    box-shadow: 5px 5px 15px grey;
    border: 0;
    
}
.dishpic{
    height: 190px;
}

.Items{
    margin: 10%;
}

.btn:hover{
    background-color:rgb(255, 196, 0); 
}


.Dish{
    font-weight: bolder;
}

/* Review paga code */
.testimonials{
    margin: 0;
    padding: 60px 0;
    background: white;
    /* background: rgb(88, 64, 64); */
    color: red;
    text-align: center;
}
.inner{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}
/* use for underline after testimonials */
.inner-border{
    width: 300px;
    height: 5px;
    background: rgb(1, 47, 248);
    margin: 26px auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.col{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}
.testimonial{
    color: black;
    /* background: gray; */
    background: #cee068af;
    padding: 30px;
    border-radius: 15px;
}
.testimonial img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.row :hover{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: coral;
    /* transition: 0.5s ease-in-out;  */
    font-weight: bold;
    border-radius: 10px;

}
.star{
    color: orange;
}
.name{
    color: blue;
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
}
@media screen and (max-width:960px) {
    .col{
        flex: 100%;
        max-width: 100%;
    }  
}
